[user]
	email = joonas@rautiola.co
	name = Joinemm

[pull]
	rebase = true

[init]
	defaultBranch = master

[color]
	ui = auto

[includeIf "gitdir:~/work/tii/"]
    path = ~/work/tii/.gitconfig_include

[http]
	cookiefile = /home/join/.gitcookies
[fetch]
	prune = true
[push]
	autoSetupRemote = true
