configuration {
  font: "monospace 13";
  drun-display-format: "{name}";
  window-format: "{t}";
  show-match: true;
  icon-theme: "Qogir";
  show-icons: true;

  drun {
    display-name: " ";
  }

  run {
    display-name: " ";
  }

  window {
    display-name: " ";
  }
}

@theme "squared.rasi"
